<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>辞書</title>
</head>
<body>
<form th:action="@{/dict/update}" method="post">
    <label for="word">単語</label>
    <input type="text" id="word" name="word">
    <label for="category">カテゴリ</label>
    <select id="category" name="category">
        <option th:each="i: ${#numbers.sequence(1, 10)}"  th:value="${i}" th:text="${i}"></option>
    </select>
    <input type="submit" value="追加">
</form>
<table>
    <tr th:each="i : ${#numbers.sequence(1, 10)}">
        <td ><img th:src="@{'images/leaf_' + ${i} + '.svg'}" width="20%" th:text="${i}"></td>
        <td th:text="${catWordMap.get(i)}"></td>
    </tr>
</table>
</body>
</html>